* {
	margin: 0;
	padding: 0;
}
body {
	background: url(../img/526c7a6277c8fdfa87e1cfd0338edc35.jpeg);
	background-size: cover;
}
#canvas3,#canvas4 {
	position: absolute;
	bottom: 0;
	left: 0;
}
#canvas3 {
	z-index: 1;
}
#canvas4 {
	z-index: 0;
}
#writeAndDraw {
	z-index: 2;
	position: absolute;
	left: 50%;
	margin-top: 20px;
	transform: translateX(-50%);
	text-align: center;
}
#tilteName {
	font-size: 50px;
	font-weight: bold;
}
#canvasStyle {
	padding: 20px;
	background-color: #fff;
	border: #b7f2ff solid 10px;
	border-radius: 20px;
}
#controller {
	display: flex;
	justify-content: space-between;
}
.color_btn {
	height: 30px;
	width: 30px;
	margin: 5px;
	border: 3px solid white;
	float: left;
}
.color_btn:hover {
	border: 3px solid violet;
}
.color_btn_selected {
	border: 3px solid blueviolet;
}
#black_btn {
	background-color: #000000;
}
#blue_btn {
	background-color: #4444FF;
}
#green_btn {
	background-color: #008000;
}
#red_btn {
	background-color: #DF2821;
}
#orange_btn {
	background-color: #ffaa00;
}
#yellow_btn {
	background-color: #FFFF00;
}
#draw_controller {
	display: flex;
	justify-content: space-between;
	align-items: center;
}
#control {
	display: flex;
	justify-content: flex-end;
}
.control_btn {
	width: 40px;
	height: 40px;
	margin: 5px 10px;
}
#tool {
	display: flex;
	margin-top: 10px;
}
.tool_btn {
	width: 35px;
	height: 35px;
	margin: 5px 8px;
	border: 3px solid white;
	border-radius: 50%;
}
.tool_btn:hover {
	border: 3px solid violet;
}
.tool_btn_selected {
	border: 3px solid blueviolet;
}
